---
title: Installing Pivotal Cloud Foundry on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This guide describes how to install Pivotal Cloud Foundry (PCF) on Google Cloud Platform (GCP).

To view production-level deployment options for PCF on GCP, see the [Reference Architecture for Pivotal Cloud Foundry on GCP](../refarch/gcp/gcp_ref_arch.html).

## <a id="prereqs"></a> Prerequisites ##

Technical requirements and recommendations for installing Pivotal Cloud Foundry (PCF) on Google Cloud Platform (GCP)

* <a class="subnav" href="./gcp-prereqs.html">PCF on GCP Prerequisites</a>

## <a id="install_pcf"></a> Install PCF on GCP ##

Complete the following procedures to install PCF on GCP:

1. <a class="subnav" href="./gcp-prepare-env.html">Preparing to Deploy PCF on GCP</a>

1. <a class="subnav" href="./gcp-om-deploy.html">Launching an Ops Manager Director Instance on GCP</a>

1. <a class="subnav" href="./gcp-om-config.html">Configuring Ops Manager Director on GCP</a>

1. <a href="http://docs.pivotal.io/addon-ipsec/installing.html">(Optional) Installing the PCF IPsec Add-On</a>

    <p class="note"><b>Note</b>: At time of publication, support for the PCF IPsec Add-On on GCP is experimental.</p>

1. <a class="subnav" href="./gcp-er-config.html">Deploying Elastic Runtime on GCP</a>

## <a id="delete_pcf"></a> Delete PCF on GCP ##

You can use the GCP console to remove an installation of all components, but retain the objects in your bucket for a future deployment: 

* <a class="subnav" href="./deleting-gcp-install.html">Deleting a GCP Installation from the Console</a>

## <a id="troubleshooting"></a> Troubleshoot PCF on GCP ##

The troubleshooting document for PCF on GCP infrastructure.

* <a class="subnav" href="./gcp-troubleshooting.html">Troubleshooting PCF on GCP</a>

## <a id="refarcj"></a> PCF on GCP Reference Architectures ##

Validated architectures for production-ready PCF deployments on GCP.

* <a class="subnav" href="../refarch/gcp/gcp_ref_arch.html">PCF on GCP Reference Architectures</a>
