---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

This section describes how to upgrade Pivotal Cloud Foundry (PCF).

PCF consists of Pivotal Cloud Foundry Operations Manager (Ops Manager), Pivotal Elastic Runtime, and product tiles. 

##<a id='major'></a> Major Version Upgrades

Consult the following list of scenarios to locate the correct procedures:

* If you are upgrading from one major version to the next major version, such as from PCF v1.8 to PCF v1.9, see the [Upgrading Ops Manager, Elastic Runtime, and Product Tiles](upgrading-pcf.html) topic.
  <p class="note"><strong>Note</strong>: Each major version upgrade path requires different steps. Ensure that you are viewing the correct <a href="upgrading-pcf.html">Upgrading Ops Manager, Elastic Runtime, and Product Tiles</a> topic by selecting the PCF version number in the dropdown menu at the top.</p>
* If you are upgrading from one major version to another major version, such as from PCF v1.7 to PCF v1.9, you must perform consecutive upgrades. For instance, to upgrade from PCF v1.7 to PCF v1.9, you must upgrade from PCF v1.7 to PCF v1.8, and then from PCF v1.8 to PCF v1.9. 

##<a id='major'></a> Minor Version Upgrades

If you are upgrading Ops Manager or Elastic Runtime from one minor version to another minor version, see the [Upgrading to Minor Versions](upgrading-minor.html) topic.

##<a id='tile'></a> Product Tile Upgrades

3. Upgrade from a minor version to another.
  Upgrading PCF Minor Versions


PCF consists of Ops Manager and Elastic Runtime. You can upgrade Elastic Runtime without upgrading Ops Manager 

Pivotal Cloud Foundry Operations Manager (Ops Manager), Pivotal Elastic. 

There are three upgrade scenarios:

1. Upgrade from a major version to the next.


2. Upgrade from a major version to a different major version.


3. Upgrade from a minor version to another.
  Upgrading PCF Minor Versions
