---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>


<p class="note warning">
<strong>WARNING: </strong> Ops Manager v1.8 operates in lockstep with Elastic Runtime v1.8, as well as with other service products. 
You must upgrade Ops Manager, Elastic Runtime, and the other dependent products to v1.8 at the <em>same time</em>. 
Review the compatibility of your products as described below before proceeding with this upgrade procedure. 
Your upgrade will fail if you do not have compatible product versions associated with your Ops Manager installation.
</p>

## <a id="beforeupgrade"></a>Before You Upgrade

### <a id="download-targets"></a> Download Upgrade Versions

### <a id="prepare-env"></a>Prepare Your Environment

1. If you are upgrading a vSphere environment, ensure that you have the following information about your existing environment before starting the upgrade:
  * Record the following IP addresses, which can be found in the vSphere web client, **Manage** > **Settings** > **vApp Options**. 
This is the same information you entered at the end of deploying [Ops Manager on vSphere](http://docs.pivotal.io/1.7/pivotalcf/customizing/deploying-vm.html). 
     * IP Address of the Ops Manager
     * Netmask
     * Default Gateway
     * DNS Servers
     * NTP Servers
  * Record the following VM hardware information so you can set up the new VM with similar settings. 
You can find this information in the vSphere web client under **Manage** > **Settings** > **VM Hardware**.
       * CPU
       * Memory
       * Hard Disk 1
       * Network Adapter 1 — When you set up the new VM, ensure your network adapters are configured properly and are on the same network.


### <a id="check-health"></a>Check System Health Before Upgrade



## <a id="upgrade_ops"></a>Upgrade Ops Manager and Installed Products to v1.8 ##

### <a id="export"></a>Step 1: Export Your Installation ###
 



### <a id="upgrade"></a>Step 2: Upgrade to Ops Manager v1.8 ###




### <a id="upgrade_products"></a>Step 3: Upgrade Elastic Runtime and Product Tiles

### <a id="complete"></a>Step 4: Complete Your Installation ###



## <a id="after"></a>After the Upgrade ##

After you upgrade, perform the following tasks to remove a collector job and a database that are not used in PCF v1.8.

### <a id="deprecate-collector-job"></a> Deprecate Collector Job

The `collector` job used to retrieve logs from Elastic Runtime components is not used in v1.8. 
Metrics are now emitted using Metron/Firehose rather than variables. 
After you complete the upgrade to Ops Manager v1.8, scale this job to `0`.

1. Navigate to **Pivotal Elastic Runtime** > **Resource Config**. 

2. Change the number of instances for **Collector** to `0`. 

### <a id="deprecate-apps-man-db"></a> Deprecate Apps Manager Database

After the upgrade to PCF v1.8, the `console` database is no longer used by Apps Manager and can be removed:
 
* If you are using PostgreSQL as your internal database:
    1. Navigate to **Pivotal Elastic Runtime** > **Resource Config**.
    2. Scale **Apps Manager Database (postgres)** to `0`.
* If you are using MySQL as your internal database, drop the `console` database using the MySQL command interface.

